<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscando Textos</title>
    <style>
        .red {
            color: red;
        }
    </style>
</head>
<body>

    <div>

        <form action="">
            <input type="search" name="q" {% if term %} value="{{ term }}" {% endif %} />
            <button type="submit">Pesquisar</button>
        </form>

    </div>

    {% if musics %}
        <main>
            {% for item in musics %}
                <div>
                    <h3>{{item.title}}</h3>
                    <div>
                        Rank: {{item.rank}}, Similaridade: {{item.similarity}}
                    </div>
                    <p>[...] {{item.headline|safe}} [...]</p>
                </div>
            {% endfor %}
        </main>
    {% endif %}
    
</body>
</html>